.App {
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#loader {
	font-size: 5em;
}

#quote-box {
	padding: 1.5em;
	width: 50vw;
}

#text {
	font-size: 2em;
	font-weight: bold;
}

#author {
	text-align: right;
	font-size: 1.3em;
	font-style: italic;
}

.buttons {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.flip::before {
	transform: scale(-1,1) rotate(180deg);
}

@media (prefers-reduced-motion: no-preference) {
  #loader {
    animation: icon-spin infinite 1s linear;
  }
}

@keyframes icon-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
